@font-face {
  font-family: 'iansui';
  src: url('./Iansui-Regular.ttf') format('truetype')
}
 
body {
  font-family: 'iansui', 'sans-serif', '標楷體', 'DFKai-SB';
}

h2 {
  text-align: center;
}

.ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0; /* Optional: Remove padding */
  margin: 0; /* Optional: Remove margin */
  text-align: right;
}

ul {
  list-style-type: none; /* Remove default bullets */
  /* padding: 0; Optional: Remove padding */
  /* margin: 0; Optional: Remove margin */
  text-align: left;
}
